.z-head{
    width: 100%;
    height: 104px;
    background:linear-gradient( to bottom, #e3eaef 5%, #c7d5e0 95%)
}
.header{
    width: 940px;   
    margin: 0 auto;
    position: relative;
}
.header img{
    width: 176px;
    height: 44px;
    float: left;
    margin-top: 30px;
}
.header .title{
    float: left;
    margin-left: 30px;
}
.header .title li{
    float: left;
    font-size: 14px;
    line-height: 104px;
    padding-right: 10px;
    color: #1C263A;
    cursor: pointer;
    position: relative;
}
.header .title li div{
    position: absolute;
    left: -5px;
    top: 64px;
    width: 70px;
    background-color: #e3eaef;
    z-index: 20;
    display: none;
    box-shadow: 0 3px 3px 0 #333;
}
.header .title li p:hover{
    color: red;
}
.header .title li span:hover{
    color: red;
}
.header .title li div span{
    font-size: 12px;
    display: block;
    line-height: 30px;
    padding-left:10px;
}
.header .login{
    height: 21px;
    float: right;
    line-height: 21px;
    margin-top: 10px;
}
.header .login .install{
    float: left;
    height: 21px;
    width: 102px;
    color: #e5e4dc;
    font-size: 11px;
    background-color: #5c7e10;
    box-sizing: border-box;
    padding: 0 20px;
}
.header .login a{
    float: left;
    font-size: 11px;
    padding: 0 10px;
    cursor: pointer;
    text-decoration: none;
}
.header .login a:hover{
    color: red;
}
.header .login .line{
    width: 1px;
    height: 11px;
    float: left;
    background-color: #999;
    margin-top: 5px;
}
.header .login .language p:hover{
    color: red;
}
.header .login .language{
    float: left;
    cursor: pointer;
    padding: 0 10px;
    position: relative;
}
.header .language p{
    font-size: 11px;
}
.header .login .language div{
    position: absolute;
    top: 22px;
    right: 0;
    line-height: 30px;
    background-color: #171a21;
    z-index: 20;
    padding-left: 16px;
    box-shadow: 3px 3px 3px  #333;
    display: none;
}
.header .login .language span{
    display: block;
    color: #ccc;
    width: 270px;
}
.header .login .language span:hover{
    color: #fff;
}



.header .nav{
    width: 940px;
    height: 35px;
    background:rgba(3, 3, 3,.3);
    position: absolute;
    top: 135px;
    left: 0;
    z-index: 10;
}
.header .nav .nav-list{
    height: 35px;
    line-height: 35px;
    float: left;
}
.header .nav-list li{
    color: #fff;
    float: left;
    font-size: 13px;
    padding:0 15px;
    border-right: 1px solid #999;
    position: relative;
    cursor: pointer;
}
.header .nav-list li:hover{
    background-color: #e3eaef;
    color: #333;
}
.header .nav-list li div{
    position: absolute;
    left: 0px;
    top: 34px;
    background-color: #e3eaef;
    z-index: 20;
    box-shadow: 0 0 12px #000000;
    padding: 5px;
    display: none;
}
.header .nav-list li div span{
    color: #333;
    display: block;
    line-height: normal;
    width: 120px;
    padding: 4px 10px;
}
.header .nav-list li div span:hover{
    background-color: #171a21;
    color: #fff;
}
.header .nav .search{
    background-color: #a6a5a2;
    margin: 3px;
    float: right;
    width: 230px;
    height: 29px;
    box-sizing: border-box;
    border: 1px solid #333;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
}
.header .nav .search input{
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 0;
    background-color: #a6a5a2;
    width: 180px;
    height: 29px;
    border: none;
    outline: none;
    padding-left: 20px;
}
.header .nav .search button{
    cursor: pointer;
    border: none;
    width: 40px;
    height: 25px;
    position: absolute;
    border-radius: 2px;
    right: 0;
    top: 1px;
}