*{
    margin: 0;padding: 0;list-style: none;
}
html{
    background:  #1c263a;
}
.c2_wrap{
    width: 100%;
    height: 100%;
    background: #1c263a;
    .c2_main{
        display: block;
        background: #1c263a;
        margin-top: 80px;
        margin-bottom: 70px;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 2%;
        display: block;
        font-family: Arial, Helvetica, sans-serif;
        color: #c6d4df;
        font-size: 12px;
        .c2_line1{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            margin: 0 -6px 12px -6px;
            .c2_line1_1{
                position: relative;
                width: 275px;               
                margin: 0 6px;
                flex-grow: 0;
                display: block;
                text-decoration: none;
                color: #ffffff;
                cursor: pointer;
                .c2_line1_1s{
                    position: relative;
                    display: block;
                    // height: 158px;
                    .c2_line1_1s1{
                        opacity: 0;
                        pointer-events: none;
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        border: 1px solid #2f5d75;
                        box-shadow: 2px 2px 10px #000;
                        transition: opacity 0.4s;
                        z-index: 3;
                    }
                    img{
                        transition: opacity 0.6s;
                        position: relative;
                        z-index: 2;
                        width: 100%;
                        display: block;
                        max-width: 100%;
                        box-shadow: 2px 2px 10px #000;
                        border: none;
                    }
                    img:hover{
                        z-index: 0;
                    }
                    .c2_video11:hover{
                        z-index: 4;
                    }
                    .c2_video11{
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 1;
                        opacity: 1;
                        transition: opacity 0.6s;
                        object-fit: contain;
                        border: 1px solid #2f5d75;
                        box-sizing: border-box;
                    }

                }
                .c2_line1_1x{
                    background: transparent;
                    white-space: nowrap;
                    max-width: 100%;
                    overflow: hidden;
                    line-height: 23px;
                    margin-top: 3px;
                    background: #000000;
                    text-align: right;
                    margin-left: auto;
                    font-family: "Motiva Sans", Sans-serif;
                    font-weight: normal;
                    position: relative;
                    display: block;
                    color: #ffffff;
                    .c2_discount{
                        font-weight: bold;
                        color: #000000;
                        background: #A1CD44;
                        padding: 0 3px;
                        display: inline-block;
                        white-space: nowrap;
                        line-height: 23px;
                        text-align: right;
                        font-family: "Motiva Sans", Sans-serif;
                    }
                    .c2_discount_prices{
                        background: rgba(0,0,0,0.6);
                        padding: 0 8px;
                        display: inline-block;
                        vertical-align: bottom;
                        text-align: right;
                        white-space: nowrap;
                        line-height: 23px;
                        font-family: "Motiva Sans", Sans-serif;
                        font-weight: normal;
                        color: #ffffff;
                        .c2_discount_original_price{
                            color: #848e94;
                            font-size: 14px;
                            display: inline;
                            text-decoration: line-through;
                            font-family: Tahoma, Arial, Helvetica, sans-serif;
                            text-align: right;
                            white-space: nowrap;
                            line-height: 23px;
                            font-weight: normal;
                        }
                        .c2_discount_final_price{
                            font-size: 14px;
                            color: #ffffff;padding-left: 4px;
                            display: inline;
                            font-family: Tahoma, Arial, Helvetica, sans-serif;
                            text-align: right;
                            white-space: nowrap;
                            line-height: 23px;
                            font-weight: normal;
                        }
                    }
                }
                .c2_line1_1y{
                    width: 310px;
                    height: 280px;
                    background: #cedae3;
                    display: none;
                    position: absolute;
                    top: 0px;
                    left: 275px;
                    cursor: pointer;
                    transition: opacity 0.2s, right 0.2s;
                    z-index: 15;
                    color: #1c263a;
                    box-sizing: border-box;
                    padding: 10px 15px;
                    .c2_1y1{
                        width: 270px;
                        height: 150px;
                        .c2_1h4{
                            font-weight: normal;
                            color: #1c263a;
                            font-size: 18px;
                        }
                        p{
                            color: #4d6072;
                            font-size: 12px;
                            margin-bottom: 5px;
                        }
                    }
                    .c2_1y2{
                        width: 270px;
                        height: 37px;
                        background: #6b7885;
                        font-size: 12px;
                        color: #ffffff;
                        padding: 7px 5px;
                        margin-bottom: 8px;
                        span{
                            color: #66add8;
                        }
                    }
                    .c2_1y3{
                        p{
                            color: #4d6072;
                            font-size: 12px;
                        }
                        li{
                            width: 30px;
                            height: 20px;
                            background: #96a3ae;
                            color: #ffffff;
                            font-size: 12px;
                            float: left;
                            margin-right:5px;
                            text-align: center;
                            line-height: 20px;
                        }
                    }
                }
                .c2_cy1{
                    width: 310px;
                    height: 280px;
                    background: #cedae3;
                    display: none;
                    position: absolute;
                    top: 0px;
                    right: 275px;
                    cursor: pointer;
                    transition: opacity 0.2s, right 0.2s;
                    z-index: 15;
                    color: #1c263a;
                    box-sizing: border-box;
                    padding: 10px 15px;
                    .c2_1y1{
                        width: 270px;
                        height: 150px;
                        .c2_1h4{
                            font-weight: normal;
                            color: #1c263a;
                            font-size: 18px;
                        }
                        p{
                            color: #4d6072;
                            font-size: 12px;
                            margin-bottom: 5px;
                        }
                    }
                    .c2_1y2{
                        width: 270px;
                        height: 37px;
                        background: #6b7885;
                        font-size: 12px;
                        color: #ffffff;
                        padding: 7px 5px;
                        margin-bottom: 8px;
                        span{
                            color: #66add8;
                        }
                    }
                    .c2_1y3{
                        p{
                            color: #4d6072;
                            font-size: 12px;
                        }
                        li{
                            width: 30px;
                            height: 20px;
                            background: #96a3ae;
                            color: #ffffff;
                            font-size: 12px;
                            float: left;
                            margin-right:5px;
                            text-align: center;
                            line-height: 20px;
                        }
                    }
                }
            }
        }
        .c2_line2{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            margin: 0 -6px 12px -6px;
            .c2_line2_1{
                position: relative;
                width: 374px;               
                margin: 0 6px;
                flex-grow: 0;
                display: block;
                text-decoration: none;
                color: #ffffff;
                cursor: pointer;
                .c2_line2_1s{
                    position: relative;
                    display: block;
                    // height: 214px;
                    .c2_line2_1s1{
                        opacity: 0;
                        pointer-events: none;
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        border: 1px solid #2f5d75;
                        box-shadow: 2px 2px 10px #000;
                        transition: opacity 0.4s;
                        z-index: 3;
                    }
                    img{
                        transition: opacity 0.6s;
                        position: relative;
                        z-index: 2;
                        width: 100%;
                        display: block;
                        max-width: 100%;
                        box-shadow: 2px 2px 10px #000;
                        border: none;
                    }
                    img:hover{
                        z-index: 0;
                    }
                    .c2_video21:hover{
                        z-index: 4;
                    }
                    .c2_video21{
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 1;
                        opacity: 1;
                        transition: opacity 0.6s;
                        object-fit: contain;
                        border: 1px solid #2f5d75;
                        box-sizing: border-box;
                    }
                }
                .c2_line2_1x{
                    background: transparent;
                    white-space: nowrap;
                    max-width: 100%;
                    overflow: hidden;
                    line-height: 23px;
                    margin-top: 3px;
                    background: #000000;
                    text-align: right;
                    margin-left: auto;
                    font-family: "Motiva Sans", Sans-serif;
                    font-weight: normal;
                    position: relative;
                    display: block;
                    color: #ffffff;
                    .c2_discount{
                        font-weight: bold;
                        color: #000000;
                        background: #A1CD44;
                        padding: 0 3px;
                        display: inline-block;
                        white-space: nowrap;
                        line-height: 23px;
                        text-align: right;
                        font-family: "Motiva Sans", Sans-serif;
                    }
                    .c2_discount_prices{
                        background: rgba(0,0,0,0.6);
                        padding: 0 8px;
                        display: inline-block;
                        vertical-align: bottom;
                        text-align: right;
                        white-space: nowrap;
                        line-height: 23px;
                        font-family: "Motiva Sans", Sans-serif;
                        font-weight: normal;
                        color: #ffffff;
                        .c2_discount_original_price{
                            color: #848e94;
                            font-size: 14px;
                            display: inline;
                            text-decoration: line-through;
                            font-family: Tahoma, Arial, Helvetica, sans-serif;
                            text-align: right;
                            white-space: nowrap;
                            line-height: 23px;
                            font-weight: normal;
                        }
                        .c2_discount_final_price{
                            font-size: 14px;
                            color: #ffffff;padding-left: 4px;
                            display: inline;
                            font-family: Tahoma, Arial, Helvetica, sans-serif;
                            text-align: right;
                            white-space: nowrap;
                            line-height: 23px;
                            font-weight: normal;
                        }
                    }
                }
                .c2_line2_1y{
                    width: 310px;
                    height: 280px;
                    background: #cedae3;
                    display: none;
                    position: absolute;
                    top: -15px;
                    left: 374px;
                    cursor: pointer;
                    transition: opacity 0.2s, right 0.2s;
                    z-index: 15;
                    color: #1c263a;
                    box-sizing: border-box;
                    padding: 10px 15px;
                    .c2_line2_1y1{
                        width: 270px;
                        height: 150px;
                        .c2_line2_1h4{
                            font-weight: normal;
                            color: #1c263a;
                            font-size: 18px;
                        }
                        p{
                            color: #4d6072;
                            font-size: 12px;
                            margin-bottom: 5px;
                        }
                    }
                    .c2_line2_1y2{
                        width: 270px;
                        height: 37px;
                        background: #6b7885;
                        font-size: 12px;
                        color: #ffffff;
                        padding: 7px 5px;
                        margin-bottom: 8px;
                        span{
                            color: #66add8;
                        }
                    }
                    .c2_line2_1y3{
                        p{
                            color: #4d6072;
                            font-size: 12px;
                        }
                        li{
                            width: 60px;
                            height: 20px;
                            background: #96a3ae;
                            color: #ffffff;
                            font-size: 12px;
                            float: left;
                            margin-right:5px;
                            text-align: center;
                            line-height: 20px;
                        }
                    }
                }
                .c2_cy2{
                    width: 310px;
                    height: 280px;
                    background: #cedae3;
                    display: none;
                    position: absolute;
                    top: -15px;
                    right: 374px;
                    cursor: pointer;
                    transition: opacity 0.2s, right 0.2s;
                    z-index: 15;
                    color: #1c263a;
                    box-sizing: border-box;
                    padding: 10px 15px;
                    .c2_line2_1y1{
                        width: 270px;
                        height: 150px;
                        .c2_line2_1h4{
                            font-weight: normal;
                            color: #1c263a;
                            font-size: 18px;
                        }
                        p{
                            color: #4d6072;
                            font-size: 12px;
                            margin-bottom: 5px;
                        }
                    }
                    .c2_line2_1y2{
                        width: 270px;
                        height: 37px;
                        background: #6b7885;
                        font-size: 12px;
                        color: #ffffff;
                        padding: 7px 5px;
                        margin-bottom: 8px;
                        span{
                            color: #66add8;
                        }
                    }
                    .c2_line2_1y3{
                        p{
                            color: #4d6072;
                            font-size: 12px;
                        }
                        li{
                            width: 60px;
                            height: 20px;
                            background: #96a3ae;
                            color: #ffffff;
                            font-size: 12px;
                            float: left;
                            margin-right:5px;
                            text-align: center;
                            line-height: 20px;
                        }
                    }
                }
            }
        }
        .c2_line3{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            margin: 0 -6px 12px -6px;
            .c2_line3_1{
                position: relative;
                width: 275px;               
                margin: 0 6px;
                flex-grow: 0;
                display: block;
                text-decoration: none;
                color: #ffffff;
                cursor: pointer;
                .c2_line3_1s{
                    position: relative;
                    display: block;
                    // height: 158px;
                    .c2_line3_1s1{
                        opacity: 0;
                        pointer-events: none;
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        border: 1px solid #2f5d75;
                        box-shadow: 2px 2px 10px #000;
                        transition: opacity 0.4s;
                        z-index: 3;
                    }
                    img{
                        transition: opacity 0.6s;
                        position: relative;
                        z-index: 2;
                        width: 100%;
                        display: block;
                        max-width: 100%;
                        box-shadow: 2px 2px 10px #000;
                        border: none;
                    }
                    img:hover{
                        z-index: 0;
                    }
                    .c2_video31:hover{
                        z-index: 4;
                    }
                    .c2_video31{
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 1;
                        opacity: 1;
                        transition: opacity 0.6s;
                        object-fit: contain;
                        border: 1px solid #2f5d75;
                        box-sizing: border-box;
                    }

                }
                .c2_line3_1x{
                    background: transparent;
                    white-space: nowrap;
                    max-width: 100%;
                    overflow: hidden;
                    line-height: 23px;
                    margin-top: 3px;
                    background: #000000;
                    text-align: right;
                    margin-left: auto;
                    font-family: "Motiva Sans", Sans-serif;
                    font-weight: normal;
                    position: relative;
                    display: block;
                    color: #ffffff;
                    .c2_discount{
                        font-weight: bold;
                        color: #000000;
                        background: #A1CD44;
                        padding: 0 3px;
                        display: inline-block;
                        white-space: nowrap;
                        line-height: 23px;
                        text-align: right;
                        font-family: "Motiva Sans", Sans-serif;
                    }
                    .c2_discount_prices{
                        background: rgba(0,0,0,0.6);
                        padding: 0 8px;
                        display: inline-block;
                        vertical-align: bottom;
                        text-align: right;
                        white-space: nowrap;
                        line-height: 23px;
                        font-family: "Motiva Sans", Sans-serif;
                        font-weight: normal;
                        color: #ffffff;
                        .c2_discount_original_price{
                            color: #848e94;
                            font-size: 14px;
                            display: inline;
                            text-decoration: line-through;
                            font-family: Tahoma, Arial, Helvetica, sans-serif;
                            text-align: right;
                            white-space: nowrap;
                            line-height: 23px;
                            font-weight: normal;
                        }
                        .c2_discount_final_price{
                            font-size: 14px;
                            color: #ffffff;padding-left: 4px;
                            display: inline;
                            font-family: Tahoma, Arial, Helvetica, sans-serif;
                            text-align: right;
                            white-space: nowrap;
                            line-height: 23px;
                            font-weight: normal;
                        }
                    }
                }
                .c2_line3_1y{
                    width: 310px;
                    height: 280px;
                    background: #cedae3;
                    display: none;
                    position: absolute;
                    top: 0px;
                    left: 275px;
                    cursor: pointer;
                    transition: opacity 0.2s, right 0.2s;
                    z-index: 15;
                    color: #1c263a;
                    box-sizing: border-box;
                    padding: 10px 15px;
                    .c2_1y1{
                        width: 270px;
                        height: 150px;
                        .c2_1h4{
                            font-weight: normal;
                            color: #1c263a;
                            font-size: 18px;
                        }
                        p{
                            color: #4d6072;
                            font-size: 12px;
                            margin-bottom: 5px;
                        }
                    }
                    .c2_1y2{
                        width: 270px;
                        height: 37px;
                        background: #6b7885;
                        font-size: 12px;
                        color: #ffffff;
                        padding: 7px 5px;
                        margin-bottom: 8px;
                        span{
                            color: #66add8;
                        }
                    }
                    .c2_1y3{
                        p{
                            color: #4d6072;
                            font-size: 12px;
                        }
                        li{
                            width: 30px;
                            height: 20px;
                            background: #96a3ae;
                            color: #ffffff;
                            font-size: 12px;
                            float: left;
                            margin-right:5px;
                            text-align: center;
                            line-height: 20px;
                        }
                    }
                }
                .c2_cy3{
                    width: 310px;
                    height: 280px;
                    background: #cedae3;
                    display: none;
                    position: absolute;
                    top: 0px;
                    right: 275px;
                    cursor: pointer;
                    transition: opacity 0.2s, right 0.2s;
                    z-index: 15;
                    color: #1c263a;
                    box-sizing: border-box;
                    padding: 10px 15px;
                    .c2_1y1{
                        width: 270px;
                        height: 150px;
                        .c2_1h4{
                            font-weight: normal;
                            color: #1c263a;
                            font-size: 18px;
                        }
                        p{
                            color: #4d6072;
                            font-size: 12px;
                            margin-bottom: 5px;
                        }
                    }
                    .c2_1y2{
                        width: 270px;
                        height: 37px;
                        background: #6b7885;
                        font-size: 12px;
                        color: #ffffff;
                        padding: 7px 5px;
                        margin-bottom: 8px;
                        span{
                            color: #66add8;
                        }
                    }
                    .c2_1y3{
                        p{
                            color: #4d6072;
                            font-size: 12px;
                        }
                        li{
                            width: 30px;
                            height: 20px;
                            background: #96a3ae;
                            color: #ffffff;
                            font-size: 12px;
                            float: left;
                            margin-right:5px;
                            text-align: center;
                            line-height: 20px;
                        }
                    }
                }
            }
         }
    }
}

.c2_lunbo-wrap{
position: relative;
height: 100%;
width: 100%;
background:  #1c263a;
margin: 0;
padding:50px 0 0 0;
overflow: hidden;
margin-top: 16px;
font-family: Arial, Helvetica, sans-serif;
color: #c6d4df;
font-size: 12px;
.c2_lunbo_title p{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2%;
    display: block;
    text-align: center;
    margin: 16px 0 0px 0;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #ffffff;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: 300;
}
}

.c2_lunbo{
    margin-top: 16px;
    height: 1000px;
    width: 100%;
    background:  #1c263a;
    .swiper-container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 2%;
        .swiper-slide {
            width: 350px;
            // height: 440px;
            text-align: center;
            background: #fff;
            position: relative;
            // overflow: hidden;
            box-shadow: 2px 2px 10px #000;

            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            img{
                width:100%;                               
            }
            .c2_lunbo_logo{
                .franchise_logo{
                    max-width: 298px;
                    max-height: 150px;
                    background-size: 100% 100%;
                    position: absolute;
                    left: 42px;
                    top: 170px;
                    z-index: 5;
                } 
            }
            .c2_lunbo_game{
                max-width: 320px;
                max-height: 200px;
                position: absolute;
                left: 0;
                top: 456px;
                z-index: 6;
                .c2_game1{
                    position: relative;
                    width: 180px;               
                    margin: 0 15px;
                    flex-grow: 0;
                    display: block;
                    text-decoration: none;
                    color: #ffffff;
                    cursor: pointer;
                    .c2_line3_1s{
                        position: relative;
                        display: block;
                        // height: 103px;
                        .c2_line3_1s1{
                            opacity: 0;
                            pointer-events: none;
                            position: absolute;
                            left: 0;
                            right: 0;
                            top: 0;
                            bottom: 0;
                            border: 1px solid #2f5d75;
                            box-shadow: 2px 2px 10px #000;
                            transition: opacity 0.4s;
                            z-index: 3;
                        }
                        img{
                            transition: opacity 0.6s;
                            position: relative;
                            z-index: 2;
                            width: 100%;
                            display: block;
                            max-width: 100%;
                            box-shadow: 2px 2px 10px #000;
                            border: none;
                        }
                        img:hover{
                            z-index: 0;
                        }
                        .c2_video31:hover{
                            z-index: 4;
                        }
                        .c2_video31{
                            position: absolute;
                            left: 0;
                            right: 0;
                            top: 0;
                            bottom: 0;
                            width: 100%;
                            height: 100%;
                            z-index: 1;
                            opacity: 1;
                            transition: opacity 0.6s;
                            object-fit: contain;
                            border: 1px solid #2f5d75;
                            box-sizing: border-box;
                        }
    
                    }
                    .c2_line3_1x{
                        background: transparent;
                        white-space: nowrap;
                        max-width: 100%;
                        overflow: hidden;
                        line-height: 23px;
                        margin-top: 3px;
                        background: #000000;
                        text-align: right;
                        margin-left: auto;
                        font-family: "Motiva Sans", Sans-serif;
                        font-weight: normal;
                        position: relative;
                        display: block;
                        color: #ffffff;
                        .c2_discount{
                            font-weight: bold;
                            color: #000000;
                            background: #A1CD44;
                            padding: 0 3px;
                            display: inline-block;
                            white-space: nowrap;
                            line-height: 23px;
                            text-align: right;
                            font-family: "Motiva Sans", Sans-serif;
                        }
                        .c2_discount_prices{
                            background: rgba(0,0,0,0.6);
                            padding: 0 8px;
                            display: inline-block;
                            vertical-align: bottom;
                            text-align: right;
                            white-space: nowrap;
                            line-height: 23px;
                            font-family: "Motiva Sans", Sans-serif;
                            font-weight: normal;
                            color: #ffffff;
                            .c2_discount_original_price{
                                color: #848e94;
                                font-size: 14px;
                                display: inline;
                                text-decoration: line-through;
                                font-family: Tahoma, Arial, Helvetica, sans-serif;
                                text-align: right;
                                white-space: nowrap;
                                line-height: 23px;
                                font-weight: normal;
                            }
                            .c2_discount_final_price{
                                font-size: 14px;
                                color: #ffffff;padding-left: 4px;
                                display: inline;
                                font-family: Tahoma, Arial, Helvetica, sans-serif;
                                text-align: right;
                                white-space: nowrap;
                                line-height: 23px;
                                font-weight: normal;
                            }
                        }
                    }
                    .c2_game1_y{
                        width: 310px;
                        height: 280px;
                        background: #cedae3;
                        display: none;
                        position: absolute;
                        top: 0px;
                        left: 180px;
                        cursor: pointer;
                        transition: opacity 0.2s, right 0.2s;
                        z-index: 9999;
                        color: #1c263a;
                        box-sizing: border-box;
                        padding: 10px 15px;
                        // overflow: visible;
                        .c2_1y1{
                            width: 270px;
                            height: 150px;
                            .c2_1h4{
                                font-weight: normal;
                                color: #1c263a;
                                font-size: 18px;
                            }
                            p{
                                color: #4d6072;
                                font-size: 12px;
                                margin-bottom: 5px;
                            }
                        }
                        .c2_1y2{
                            width: 270px;
                            height: 37px;
                            background: #6b7885;
                            font-size: 12px;
                            color: #ffffff;
                            padding: 7px 5px;
                            margin-bottom: 8px;
                            span{
                                color: #66add8;
                            }
                        }
                        .c2_1y3{
                            p{
                                color: #4d6072;
                                font-size: 12px;
                            }
                            li{
                                width: 30px;
                                height: 20px;
                                background: #96a3ae;
                                color: #ffffff;
                                font-size: 12px;
                                float: left;
                                margin-right:5px;
                                text-align: center;
                                line-height: 20px;
                            }
                        }
                    }
                    .c2_yy1{
                        width: 310px;
                        height: 280px;
                        background: #cedae3;
                        display: none;
                        position: absolute;
                        top: 0px;
                        right: 180px;
                        cursor: pointer;
                        transition: opacity 0.2s, right 0.2s;
                        z-index: 9999;
                        color: #1c263a;
                        box-sizing: border-box;
                        padding: 10px 15px;
                        // overflow: visible;
                        .c2_1y1{
                            width: 270px;
                            height: 150px;
                            .c2_1h4{
                                font-weight: normal;
                                color: #1c263a;
                                font-size: 18px;
                            }
                            p{
                                color: #4d6072;
                                font-size: 12px;
                                margin-bottom: 5px;
                            }
                        }
                        .c2_1y2{
                            width: 270px;
                            height: 37px;
                            background: #6b7885;
                            font-size: 12px;
                            color: #ffffff;
                            padding: 7px 5px;
                            margin-bottom: 8px;
                            span{
                                color: #66add8;
                            }
                        }
                        .c2_1y3{
                            p{
                                color: #4d6072;
                                font-size: 12px;
                            }
                            li{
                                width: 30px;
                                height: 20px;
                                background: #96a3ae;
                                color: #ffffff;
                                font-size: 12px;
                                float: left;
                                margin-right:5px;
                                text-align: center;
                                line-height: 20px;
                            }
                        }
                    }   
                }
                .c2_game2{
                    position: relative;
                    width: 180px;               
                    margin: 15px 0 0 180px;
                    flex-grow: 0;
                    display: block;
                    text-decoration: none;
                    color: #ffffff;
                    cursor: pointer;
                    .c2_line2_1s{
                        position: relative;
                        display: block;
                        height: 103px;
                        .c2_line2_1s1{
                            opacity: 0;
                            pointer-events: none;
                            position: absolute;
                            left: 0;
                            right: 0;
                            top: 0;
                            bottom: 0;
                            border: 1px solid #2f5d75;
                            box-shadow: 2px 2px 10px #000;
                            transition: opacity 0.4s;
                            z-index: 3;
                        }
                        img{
                            transition: opacity 0.6s;
                            position: relative;
                            z-index: 2;
                            width: 100%;
                            display: block;
                            max-width: 100%;
                            box-shadow: 2px 2px 10px #000;
                            border: none;
                        }
                        img:hover{
                            z-index: 0;
                        }
                        .c2_video21:hover{
                            z-index: 4;
                        }
                        .c2_video21{
                            position: absolute;
                            left: 0;
                            right: 0;
                            top: 0;
                            bottom: 0;
                            width: 100%;
                            height: 100%;
                            z-index: 1;
                            opacity: 1;
                            transition: opacity 0.6s;
                            object-fit: contain;
                            border: 1px solid #2f5d75;
                            box-sizing: border-box;
                        }
    
                    }
                    .c2_line2_1x{
                        background: transparent;
                        white-space: nowrap;
                        max-width: 100%;
                        overflow: hidden;
                        line-height: 23px;
                        margin-top: 3px;
                        background: #000000;
                        text-align: right;
                        margin-left: auto;
                        font-family: "Motiva Sans", Sans-serif;
                        font-weight: normal;
                        position: relative;
                        display: block;
                        color: #ffffff;
                        .c2_discount{
                            font-weight: bold;
                            color: #000000;
                            background: #A1CD44;
                            padding: 0 3px;
                            display: inline-block;
                            white-space: nowrap;
                            line-height: 23px;
                            text-align: right;
                            font-family: "Motiva Sans", Sans-serif;
                        }
                        .c2_discount_prices{
                            background: rgba(0,0,0,0.6);
                            padding: 0 8px;
                            display: inline-block;
                            vertical-align: bottom;
                            text-align: right;
                            white-space: nowrap;
                            line-height: 23px;
                            font-family: "Motiva Sans", Sans-serif;
                            font-weight: normal;
                            color: #ffffff;
                            .c2_discount_original_price{
                                color: #848e94;
                                font-size: 14px;
                                display: inline;
                                text-decoration: line-through;
                                font-family: Tahoma, Arial, Helvetica, sans-serif;
                                text-align: right;
                                white-space: nowrap;
                                line-height: 23px;
                                font-weight: normal;
                            }
                            .c2_discount_final_price{
                                font-size: 14px;
                                color: #ffffff;padding-left: 4px;
                                display: inline;
                                font-family: Tahoma, Arial, Helvetica, sans-serif;
                                text-align: right;
                                white-space: nowrap;
                                line-height: 23px;
                                font-weight: normal;
                            }
                        }
                    }
                    .c2_game2_y{
                        width: 310px;
                        height: 280px;
                        background: #cedae3;
                        display: none;
                        position: absolute;
                        top: -15px;
                        left: 180px;
                        cursor: pointer;
                        transition: opacity 0.2s, right 0.2s;
                        z-index: 999;
                        color: #1c263a;
                        box-sizing: border-box;
                        padding: 10px 15px;
                        // overflow: visible;
                        .c2_line2_1y1{
                            width: 270px;
                            height: 150px;
                            .c2_line2_1h4{
                                font-weight: normal;
                                color: #1c263a;
                                font-size: 18px;
                            }
                            p{
                                color: #4d6072;
                                font-size: 12px;
                                margin-bottom: 5px;
                            }
                        }
                        .c2_line2_1y2{
                            width: 270px;
                            height: 37px;
                            background: #6b7885;
                            font-size: 12px;
                            color: #ffffff;
                            padding: 7px 5px;
                            margin-bottom: 8px;
                            span{
                                color: #66add8;
                            }
                        }
                        .c2_line2_1y3{
                            p{
                                color: #4d6072;
                                font-size: 12px;
                            }
                            li{
                                width: 60px;
                                height: 20px;
                                background: #96a3ae;
                                color: red;
                                font-size: 12px;
                                float: left;
                                margin-right:5px;
                                text-align: center;
                                line-height: 20px;
                            }
                        }
                    }
                    .c2_yy2{
                        width: 310px;
                        height: 280px;
                        background: #cedae3;
                        display: none;
                        position: absolute;
                        top: -15px;
                        right: 180px;
                        cursor: pointer;
                        transition: opacity 0.2s, right 0.2s;
                        z-index: 999;
                        color: #1c263a;
                        box-sizing: border-box;
                        padding: 10px 15px;
                        // overflow: visible;
                        .c2_line2_1y1{
                            width: 270px;
                            height: 150px;
                            .c2_line2_1h4{
                                font-weight: normal;
                                color: #1c263a;
                                font-size: 18px;
                            }
                            p{
                                color: #4d6072;
                                font-size: 12px;
                                margin-bottom: 5px;
                            }
                        }
                        .c2_line2_1y2{
                            width: 270px;
                            height: 37px;
                            background: #6b7885;
                            font-size: 12px;
                            color: #ffffff;
                            padding: 7px 5px;
                            margin-bottom: 8px;
                            span{
                                color: #66add8;
                            }
                        }
                        .c2_line2_1y3{
                            p{
                                color: #4d6072;
                                font-size: 12px;
                            }
                            li{
                                width: 60px;
                                height: 20px;
                                background: #96a3ae;
                                color: red;
                                font-size: 12px;
                                float: left;
                                margin-right:5px;
                                text-align: center;
                                line-height: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}
